/GuessGame/target/
/primeNumber/target/
/MathodMake/target/
/ArrayMathod/target/
/practiceArray/target/
/scarceArry/target/
/scarchArryWithInput/target/
/maltiDimantionalArray/target/
/classObject/target/
/PractiveClassAndObject/target/
/Account/target/
/LearnInHaritance/target/
/exam1/target/
/evd/target/
